<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Formulario Review')}"></head>

<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4">

    <h1 class="mb-0">
        <i class="fa-solid fa-utensils text-primary me-2"></i>Formulario review
    </h1>

    <form th:action="@{reviews}" method="post" th:object="${reviews}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{restaurante}">
        <input type="hidden" th:field="*{plato}">
    </form>

    <div class="alert alert-info mt-3" th:if="${reviews.restaurante != null}">
        <i class="fa-solid fa-store"></i>
        Reseña sobre el restaurante:
        <span th:text="${reviews.restaurante.nombre}">Restaurante</span>
    </div>

    <div class="alert alert-info mt-3" th:if="${reviews.plato != null}">
        <i class="fa-solid fa-utensils"></i>
        Reseña sobre el plato:
        <span th:text="${reviews.plato.nombre}"></span>
    </div>

    <div class="mb-3">
        <label for="title" class="form-select">Titulo</label>
        <input id="title" type="text" class="form-control" th:field="*{title}" required maxlength="255"
        th:classapend="is-invalid${#fields.hasErrors('title')} ? is-invalid">
        <div class="invalid-feedback" th:if="{#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-select">Descripcion</label>
        <textarea id="descripcion" type="text" class="form-control" rows="4" th:field="*{descripcion}"
                  required maxlength="1000" th:classapend="is-invalid${#fields.hasErrors('descripcion')} ? is-invalid"></textarea>
        <div class="invalid-feedback" th:if="{#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
    </div>

    <div class="mb-3">
        <label for="calificacion" class="form-select">Puntuacion (de 1 a 5)</label>
        <input id="calificacion" type="number" class="form-control" th:field="*{calificacion}" required min="1" max="5"
               th:classapend="is-invalid${#fields.hasErrors('calificacion')} ? is-invalid">
        <div class="invalid-feedback" th:if="{#fields.hasErrors('calificacion')}" th:errors="*{calificacion}"></div>

    <footer th:replace="~{layout/footer :: footer}"></footer>
    <script th:replace="~{layout/footer :: scripts}"></script>
</main>
</body>
</html>