<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Formulario Review')}"></head>

<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4">

    <h1 class="mb-0">
        <i class="fa-solid fa-utensils text-primary me-2"></i>Formulario review
    </h1>

    <footer th:replace="~{layout/footer :: footer}"></footer>
    <script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>