<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Detalle Pedido')}"></head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">
    <h1 class="my-2">Detalle pedido</h1>


    <!-- Info básica:
     id
     date
     totalPrice
     tip
     tableNumber
     numPeople
     status
     -->
    <div>
        <div class="my-3">
                    <span class="badge bg-success me-1">
                            <i class="fa-solid fa-calendar me-1"></i>
                            <span th:text="${pedido.fechaPedido}"></span>
                    </span>
        </div>
        <div class="row text-center">
            <div class="col">
                <h3>Información del pedido</h3>

                <dl class="row">
                    <dt class="col-sm-6"> <i class="fa-solid fa-id-card"></i> Id</dt>
                    <dd class="col-sm-6" th:text="${pedido.id}"></dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-6"> <i class="fa-solid fa-people-group"></i> Comensales</dt>
                    <dd class="col-sm-6" th:text="${pedido.numeroPersonas}"></dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-6"> <i class="fa-solid fa-utensils"></i> Mesa</dt>
                    <dd class="col-sm-6" th:text="${pedido.numeroTabla}"></dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-6"> <i class="fa-solid fa-euro"></i> Precio total</dt>
                    <dd class="col-sm-6" th:text="${pedido.precioTotal}"></dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-6"> <i class="fa-solid fa-spinner text-danger"></i>Estado</dt>
                    <dd class="col-sm-6" th:text="${pedido.tipoPedido}"></dd>
                </dl>

            </div>
            <div class="col">
                <h3>Información del restaurante</h3>
            </div>
            <div class="col">
                <h3>Información del usuario</h3>
            </div>
        </div>
    </div>




    <!-- ASociación Restaurante -->

    <!-- Asociacion usuario -->



</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>