<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Formulario Usuario')}"></head>

<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4">

    <form th:action="@{/admin/users}" method="post" class="card shadow-sm p-4" th:object="${user}">
        <div class="mb-3" th:if="${edit}">
            <label class="form-label" for="id">Username</label>
            <input type="number" class="form-control" id="id"
                   required th:field="*{id}" readonly>
        </div>
        <h1 class="mb-0">
            <i class="fa-solid fa-user text-primary me-2"></i>
            <span th:text="${edit} ? 'Editar usuario' : 'Crear usuario"></span>
        </h1>

        <div class="form-floating mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                   placeholder="pepe666" required th:field="*{username}" min="3" maxlength="100">
        </div>

        <div class="form-floating mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
                   placeholder="pepe@gmail.com" required th:field="*{email}">
        </div>

        <div class="form-floating mb-3">
            <label for="password">Contraseña</label>
            <input type="password" th:field="*{password}"
                   class="form-control" id="password"
                   th:required="${!edit}" minlength="4">
            <small class="text-muted">Deja este campo vacío para conservar la misma contraseña.</small>
        </div>

        <div class="form-floating mb-3">
            <label for="role" class="form-label">Rol (Permisos)</label>
            <select class="form-select" id="role" th:field="*{role}">
                <option
                    th:each="role : ${roles}"
                    th:value="${role}"
                    th:text="${role.name()}">

                </option>
            </select>
        </div>

        <div class="form-floating mb-3" th:if="${edit}">
            <label class="form-check-label" for="active">Activo</label>
            <input type="checkbox" th:field="*{active}"
                   class="form-check-input" id="active" accept="image/*"
            >
            <img th:if="*{user != null and user.imageUrl != null}" th:src="@{*{imageUrl}}" class="mt-2 img-thumbnail" height="100" alt="user avatar">
        </div>

        <div class="form-floating mb-3" th:if="${edit}">
            <label class="form-label" for="imageFile">Imagen</label>
            <input type="hidden" th:field="*{imageUrl}">
            <input type="file" name="imageFile"
                   class="form-control" id="imageFile" accept="image/*"
            >
            <img id="preview" alt="Previsualización" class="mt-2 rounded"
                 style="max-height:150px; display:none"
                 th:src="${user != null and user.imageUrl != null ? user.imageUrl : null}">
        </div>

        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>

        <a th:href="@{/admin/users}" class="btn btn-secondary">Cancelar</a>


    </form>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
<script>
    (function () {
        const input = document.getElementById('imageFile');
        const preview = document.getElementById('preview');

        // MODO EDITAR: si ya hay imagen guardada, mostrarla al cargar
        if (preview.getAttribute('src')) {
            preview.style.display = 'block';
        }

        // AL ELEGIR ARCHIVO: previsualizar el nuevo (antes de subir)
        input.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                preview.src = URL.createObjectURL(file);
                preview.style.display = 'block';
            }
        });
    })();
</script>
</body>
</html>